@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
}

.main-container {
    margin-bottom: 155px;
}

.header-container {
    min-height: 5vh;
    padding: 25px;
    align-items: center;
}

.logo {
    width: 15%;
    padding: 10px;
}

.h3-link-header {
    display: flex;
    align-items: center;
}

.link-header {
    text-decoration: none;
    color: black;
}

.intro {
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    padding: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

.h2-titles {
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 15px;
    text-align: center;
}

.h3-titles {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}

.main-paragraph {
    text-align: justify;
    margin-top: 10px;
    overflow: hidden;
}

.box-article {
    width: 85%;
}

.img-p {
    width: 15%;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.img-p2 {
    width: 25%;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
}

.footer-container {
    height: 10vh;
}

.footer-p {
    border-top: 1px solid black;
    padding-top: 25px;
    text-align: center;
}